<div class="min-h-screen flex items-center justify-center bg-gray-100">
  <div class="bg-white p-8 rounded shadow-md w-96">
    <h2 class="text-2xl font-bold mb-6 text-center">Iniciar Sesión</h2>
    <form (ngSubmit)="onLogin()">
      <div class="mb-4">
        <label class="block mb-1">Email</label>
        <input type="text" [(ngModel)]="email" name="email" required  class="w-full border px-3 py-2 rounded" />
      </div>
      <div class="mb-6">
        <label class="block mb-1">Contraseña</label>
        <input type="password" [(ngModel)]="password" name="password" required class="w-full border px-3 py-2 rounded" />
      </div>
      <button type="submit" class="w-full bg-blue-600 text-white py-2 rounded hover:bg-blue-700">Ingresar</button>
      <p *ngIf="errorMessage" class="text-red-500 text-sm mt-4">{{ errorMessage }}</p>
    </form>
  </div>
</div>


